<%- include('../partials/header') -%>
    <!-- <  if(currentUser && currentUser.isAdmin){  %> -->
    <div class="container">
        <div class="columns">
            <div class="column">
                <aside class="menu  ">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a class="is-active is-secondary is-small ">Dashboard</a></li>

                    </ul>
                    <p class="menu-label">
                        Administration
                    </p>
                    <ul class="menu-list">
                        <li><a>Team Settings</a></li>
                        <li>
                            <a class="">Manage User</a>
                            <ul>
                                <li><a>Members</a></li>
                                <li><a>Plugins</a></li>
                                <li><a>Add a member</a></li>
                            </ul>
                        </li>
                        <li><a>Invitations</a></li>

                    </ul>
                </aside>
            </div>
            <div class="column is-full">
                <h1 class="title">Admin Dashboard</h1>
                <h2 class="subtitle">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt soluta animi facere odit? Repellendus fuga alias eligendi voluptate minima laudantium, veritatis asperiores eius illum ipsam inventore deserunt dolores placeat dolore. A simple container
                    to divide your page into <strong>sections</strong>, like the one you're currently reading.
                </h2>
                <div>
                    <%=result.author %>
                </div>
            </div>
            <div class="columns">
                <div class="uk-column-1-2 uk-column-divider">

                </div>
            </div>
        </div>
        <!-- <}%> -->
        <%- include('../partials/footer') -%>