<%- include('./partials/header') -%>
    <div class="uk-cover-container uk-height-medium uk-light mm">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: push">

            <ul class="uk-slideshow-items" style="color: black;">
                <li>
                    <img src="images/background.jpg" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center" style="margin-top: -50px;">
                        <h2 uk-slideshow-parallax="x: 100,-100" style="color: rgb(9, 9, 39); font-weight: bolder; font-variant: small-caps;">FOR NIGERIAN SUPREME COUNCIL FOR ISLAMIC AFFAIRS (NSCIA)</h2>
                        <p uk-slideshow-parallax="x: 200,-200" style="font-weight: 600; font-variant: small-caps;font-size: 25px;">Kishi thereby ensuring unity among the ‘Ummah’ and for the
                            <BR>Muslims to interact with each other and ask questions
                            <BR>using threads and topics to get answer from the Committee</p>
                    </div>
                </li>
                <li>
                    <img src="images/background.jpg" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center" style="margin-top: -50px;">
                        <h2 uk-slideshow-parallax="x: 100,-100" style="color: rgb(9, 9, 39); font-weight: bolder; font-variant: small-caps;">FOR NIGERIAN SUPREME COUNCIL FOR ISLAMIC AFFAIRS (NSCIA)</h2>
                        <p uk-slideshow-parallax="x: 200,-200" style="font-weight: 600; font-variant: small-caps;font-size: 25px;">Kishi thereby ensuring unity among the ‘Ummah’ and for the
                            <BR>Muslims to interact with each other and ask questions
                            <BR>using threads and topics to get answer from the Committee</p>
                    </div>
                </li>
                <li>
                    <img src="images/background.jpg" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center" style="margin-top: -50px;">
                        <h2 uk-slideshow-parallax="x: 100,-100" style="color: rgb(9, 9, 39); font-weight: bolder; font-variant: small-caps;">FOR NIGERIAN SUPREME COUNCIL FOR ISLAMIC AFFAIRS (NSCIA)</h2>
                        <p uk-slideshow-parallax="x: 200,-200" style="font-weight: 600; font-variant: small-caps;font-size: 25px;">Kishi thereby ensuring unity among the ‘Ummah’ and for the
                            <BR>Muslims to interact with each other and ask questions
                            <BR>using threads and topics to get answer from the Committee</p>
                    </div>
                </li>
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

        </div>
        <!-- <img src="images/background.jpg" alt="" uk-cover> -->
        <!-- <iframe src="https://www.youtube-nocookie.com/embed/c2pz2mlSfXA?autoplay=1&amp;controls=0&amp;showinfo=0&amp;rel=0&amp;loop=1&amp;modestbranding=1&amp;wmode=transparent" width="1920" height="1080" frameborder="0" allowfullscreen uk-cover></iframe> -->
    </div>
    <div class="uk-section uk-section-primary uk-preserve-color">
        <div class="container">

            <div class="uk-panel uk-light uk-margin-medium" style="text-align: center;">
                <h3>Welcome Message</h3>
            </div>

            <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <p style="text-align: justify;">This forum is useful for the community to get information related to various event on NSCIA. There is a centralized database in which all the information is managed. The Representatove acts as the highest authority and has the
                            rights to update the database. There are also connected user who acts as an intermediate user who can also answer the questions of the end-user if they know it. The intermediate user can also cache the information provided
                            by the administrator to the end-user. This cached information is useful when the same question is repeated some another user , then the intermediate user can get the information from cache memory and reply to the end-user.
                            This reduces the response time.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <p style="text-align: justify;">This forum is useful for the community to get information related to various event on NSCIA. There is a centralized database in which all the information is managed. The Representatove acts as the highest authority and has the
                            rights to update the database. There are also connected user who acts as an intermediate user who can also answer the questions of the end-user if they know it. The intermediate user can also cache the information provided
                            by the administrator to the end-user. This cached information is useful when the same question is repeated some another user , then the intermediate user can get the information from cache memory and reply to the end-user.
                            This reduces the response time.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <section class="section">


        <div class="container">
            <div class="columns">

                <div class="column">
                    side
                </div>
                <div class="column is-three-fifths">

                    <div class="uk-column-1-2 ">
                        <p>
                            <div>
                                <h3>Heading</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                        </p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                    </div>
                </div>
                <div class="column">
                    Ask Question
                </div>
            </div>
            <!-- <h1 class="title">
                Hello World
            </h1>
            <p class="subtitle">
                My first website with <strong>Bulma</strong>!
            </p> -->
        </div>
    </section>

    <%- include('./partials/footer1') -%>