<%- include('../partials/header') -%>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-full">
                    <h1 class="title">Medium section</h1>
                    <h2 class="subtitle">
                        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
                    </h2>
                </div>
            </div>
            <div class="columns">
                <div class="uk-column-1-2 uk-column-divider">

                </div>
            </div>
        </div>
    </section>
    <%- include('../partials/footer') -%>