<%- include('../partials/header') -%>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column left">
                    <!-- <h1 class="title">Medium section</h1>
                    <h2 class="subtitle">
                        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
                    </h2> -->
                </div>
                <div class="column is-three-fifths">
                    <form action="/blog" method="post">
                        <div class="tile is-parent" style="margin-top: -59px;">
                            <div class="tile is-child box">
                                <div style="border-bottom: 3px solid rgb(92, 143, 255);">
                                    <strong>Post News</strong>

                                    <p style="text-align: justify;">
                                        <p>
                                            <label for="">Title:</label>
                                            <textarea class="textarea" name="blog[title]" id="" cols="30" rows="2"></textarea>

                                        </p>
                                        <p>
                                            <label for="">Body:</label>
                                            <textarea class="textarea" name="blog[body]" id="" cols="30" rows="10"></textarea>
                                        </p>
                                        <p>
                                            <label for="">Categories:</label>
                                            <select class="input" name="blog[status]" id="categories" class="form-control" required="required">
                                                <option value="Fatiwa">Fatiwa</option>
                                                <option value="Educational Board">Educational Board</option>
                                                <option value="NACOMYO">NACOMYO</option>
                                                <option value="AL-Yekeen">AL-Yekeen</option>
                                                
                                            </select>

                                        </p>
                                        <p>
                                            <button class="button">Post comment</button>
                                        </p>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="column left">

                </div>
    </section>
    <%- include('../partials/footer') -%>